USE [PhongThiNghiem]
GO
/****** Object:  Table [dbo].[DMThietBi]    Script Date: 10/1/2020 10:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMThietBi](
	[MaDMThietBi] [int] NOT NULL,
	[TenDM] [nvarchar](50) NULL,
 CONSTRAINT [PK_DMThietBi] PRIMARY KEY CLUSTERED 
(
	[MaDMThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 10/1/2020 10:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGiaoVien] [int] NOT NULL,
	[TenGiaoVien] [nvarchar](50) NULL,
	[Lop] [nvarchar](50) NULL,
	[SoLuongSV] [int] NULL,
	[MonHoc] [nvarchar](50) NULL,
	[TenBaiTN] [nvarchar](50) NULL,
	[TenThietBi] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 10/1/2020 10:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTra](
	[MaGiaoVien] [int] NULL,
	[MaThietBi] [int] NULL,
	[MaMuonTra] [int] NOT NULL,
	[ThoiGianMuon] [datetime] NULL,
	[ThoiGianTra] [datetime] NULL,
 CONSTRAINT [PK_MuonTra1] PRIMARY KEY CLUSTERED 
(
	[MaMuonTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 10/1/2020 10:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[MaThietBi] [int] NOT NULL,
	[TenThietBi] [nvarchar](50) NULL,
	[MaDMThietBi] [int] NULL,
 CONSTRAINT [PK_ThietBi] PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DMThietBi] ([MaDMThietBi], [TenDM]) VALUES (1, N'MayTinh')
INSERT [dbo].[DMThietBi] ([MaDMThietBi], [TenDM]) VALUES (2, N'DiDong')
INSERT [dbo].[DMThietBi] ([MaDMThietBi], [TenDM]) VALUES (3, N'PhanMem')
GO
INSERT [dbo].[GiaoVien] ([MaGiaoVien], [TenGiaoVien], [Lop], [SoLuongSV], [MonHoc], [TenBaiTN], [TenThietBi]) VALUES (1, N'Nguyen Van', N'CNTT', 40, N'Toan', N'TNToan', N'MayDeBan')
INSERT [dbo].[GiaoVien] ([MaGiaoVien], [TenGiaoVien], [Lop], [SoLuongSV], [MonHoc], [TenBaiTN], [TenThietBi]) VALUES (2, N'Nguyen Thi B', N'CNPM', 30, N'Ly', N'TNLy', N'MayDeBan')
INSERT [dbo].[GiaoVien] ([MaGiaoVien], [TenGiaoVien], [Lop], [SoLuongSV], [MonHoc], [TenBaiTN], [TenThietBi]) VALUES (3, N'Nguyen Van C', N'CNTT', 20, N'Hoa', N'TNHoa', N'MayXachTay')
GO
INSERT [dbo].[MuonTra] ([MaGiaoVien], [MaThietBi], [MaMuonTra], [ThoiGianMuon], [ThoiGianTra]) VALUES (1, 1, 1, CAST(N'2020-10-01T00:00:00.000' AS DateTime), CAST(N'2020-10-02T00:00:00.000' AS DateTime))
INSERT [dbo].[MuonTra] ([MaGiaoVien], [MaThietBi], [MaMuonTra], [ThoiGianMuon], [ThoiGianTra]) VALUES (2, 1, 2, CAST(N'2020-10-02T00:00:00.000' AS DateTime), CAST(N'2020-10-03T00:00:00.000' AS DateTime))
INSERT [dbo].[MuonTra] ([MaGiaoVien], [MaThietBi], [MaMuonTra], [ThoiGianMuon], [ThoiGianTra]) VALUES (3, 2, 3, CAST(N'2020-10-03T00:00:00.000' AS DateTime), CAST(N'2020-10-04T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[ThietBi] ([MaThietBi], [TenThietBi], [MaDMThietBi]) VALUES (1, N'MayChu', 1)
INSERT [dbo].[ThietBi] ([MaThietBi], [TenThietBi], [MaDMThietBi]) VALUES (2, N'MayDeBan', 1)
INSERT [dbo].[ThietBi] ([MaThietBi], [TenThietBi], [MaDMThietBi]) VALUES (3, N'MayXachTay', 1)
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_GiaoVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[GiaoVien] ([MaGiaoVien])
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_GiaoVien]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_ThietBi] FOREIGN KEY([MaThietBi])
REFERENCES [dbo].[ThietBi] ([MaThietBi])
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_ThietBi]
GO
ALTER TABLE [dbo].[ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_ThietBi_DMThietBi] FOREIGN KEY([MaDMThietBi])
REFERENCES [dbo].[DMThietBi] ([MaDMThietBi])
GO
ALTER TABLE [dbo].[ThietBi] CHECK CONSTRAINT [FK_ThietBi_DMThietBi]
GO
